{% extends "shared/_layout.html" %}
{% block additional_css %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .card-body-height { overflow-y: scroll; width: 100%; }
    .table td.fit,
    .table th.fit {
      white-space: nowrap;
      width: 1%;
    }
  </style>
{% endblock %}

{% block menu_content %}
  {% include "shared/partials/import_menu.html" %}
{% endblock %}

{% block main_content %}
  <div class="mt-3 row align-items-start">
    {% for item in data %}
      {% if loop.index0 % 4 == 0 %}
        <div class="mt-3 row row-cols-4">
      {% endif %}
      <div class="col">
        {% with data=item %}
          {% include "home/partials/show.html" %}
        {% endwith %} 
      </div>
      {% if loop.index0 % 4 == 3 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>  
{% endblock %}