<div class="card border-primary mt-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h4 class="card-title">{{title}}</h4>
      <div class="d-flex justify-right">
        <i class="ps-2 bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="left" title="{{help}}"></i>
        {% for link in links: %}
          <a class="{{link['klass']}}" href="{{link['href']}}">
            {% if 'confirm' in link: %}
              <i class="ps-2 {{link['icon']}}" onclick="return confirm('Are you sure?')" data-bs-toggle="tooltip" data-bs-placement="left" title="{{link['tooltip']}}"></i>            
            {% else %}
              <i class="ps-2 {{link['icon']}}" data-bs-toggle="tooltip" data-bs-placement="left" title="{{link['tooltip']}}"></i>
            {% endif %}
          </a>
        {% endfor %}
        <a href="#" onclick="history.back()">
          <i class="ps-2 bi bi-arrow-up-circle" data-bs-toggle="tooltip" data-bs-placement="left" title="Go to previous page."></i>
        </a>
      </div>
    </div>
    <p class="card-text">{{text}}</p>
  </div>
</div>