<div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="section_menu_div">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Table of Contents</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav nav-pills flex-column">
      {% for record in data: %}
        <li class="nav-item">
          <a class="nav-link" data-bs-dismiss="offcanvas" hx-get="/sections/{{record['key']}}" hx-trigger="click" hx-target="#section_edit_div" hx-swap="outerHTML">{{record['sectionNumber']}} {{record['sectionTitle']}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
