<div id="section_edit_div">
  <script type="text/javascript">
    var previous = "";
    var textArea = document.getElementById("textEdit")
    var textCursor = document.getElementById("textCursor")
    $(document).on('change keyup paste click',"#textEdit", function() {
      var url1 = "/sections/" + document.getElementById("textSection").value;
      var url2 = url1 + "/document";
      var text = textArea.value
      textCursor.value = textArea.selectionStart;
      textEnd.value = textArea.selectionEnd;
      //console.log("Cursor: " + textCursor.value)
      if (text != previous) {
        previous = text;
        $.ajax({
          type: 'POST',
          url: url1,
          data: {
            text: text
          },
          success: function(data){
           textArea.selectionStart = textCursor.value
           htmx.ajax('GET', url2, '#section_results_div')
          }
        });
      } 
    });
    textArea.selectionEnd = textArea.selectionStart = document.getElementById("textCursor").value;
    //textArea.blur();
    textArea.focus();
    console.log("Cursor: " + textArea.selectionStart)
  </script>
  <input type="hidden" id="textSection" name="textSection" value="{{key}}">
  <input type="hidden" id="textCursor" name="textCursor" value={{cursor}}>
  <input type="hidden" id="textEnd" name="textEnd" value="0">
  <textarea class="form-control" rows="30" name="textEdit" id="textEdit" class="textEditDiv">{{data['text']}}</textarea>
</div>
<div id="section_number_div" class="p-2" hx-swap-oob="#section_number_div">
  <h5>{{data['sectionNumber']}}</h5>
</div>
<div id="section_title_div" class="p-2 flex-grow-1" hx-swap-oob="#section_title_div" hx-post="/sections/{{key}}/title" hx-trigger="click" hx-target="#section_title_div">
  <h5>{{data['sectionTitle']}}</h5>
</div>
<div id="usdm_section_div" hx-swap-oob="#usdm_section_div">
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" style="font-size: 20px;">
      <i class="ps-2 bi bi-code"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=reference" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">reference</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=tag" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">tag</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=xref" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">cross reference</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=image" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">image</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=element" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">element</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=section" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">section</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=timeline" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">timeline</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=note" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">note</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=list-item" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">list item</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=table" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor'], [name='textEnd']" role="button">table</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=table-row" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">table row</a></li>
      <li><a class="dropdown-item" hx-post="/sections/{{key}}/usdm?type=table-cell" hx-trigger="click" hx-target="#section_edit_div" hx-include="[name='textCursor']" role="button">table cell</a></li>
    </ul>
  </div>
</div>
<div id="edit_title_div" hx-swap-oob="#edit_title_div">
  <a class="link-dark" style="font-size: 20px;" hx-get="/sections/{{key}}/title" hx-trigger="click" hx-target="#section_title_div" hx-swap="outerHTML" role="button">
    <i class="ps-2 bi bi-pencil"></i>
  </a>  
</div>
{% if can_add['sibling'] %}
  <div id="add_section_sibling_div" hx-swap-oob="#add_section_sibling_div">
    <a class="link-dark" style="font-size: 20px;" hx-post="/sections/{{key}}/addSibling" hx-trigger="click" hx-target="#section_edit_div" role="button">
      <i class="ps-2 bi bi-arrow-down-circle"></i>
    </a>    
  </div>
{% else %}
  <div id="add_section_sibling_div" hx-swap-oob="#add_section_sibling_div">
  </div>
{% endif %}
{% if can_add['child'] %}
  <div id="add_section_child_div" hx-swap-oob="#add_section_child_div">
    <a class="link-dark" style="font-size: 20px;" hx-post="/sections/{{key}}/addChild" hx-trigger="click" hx-target="#section_edit_div" role="button">
      <i class="ps-2 bi bi-arrow-down-right-circle"></i>
    </a>    
  </div>
{% else %}
  <div id="add_section_child_div" hx-swap-oob="#add_section_child_div">
  </div>
{% endif %}
<div id="delete_section_div" hx-swap-oob="#delete_section_div">
  <a class="link-danger" style="font-size: 20px;" hx-delete="/sections/{{key}}" hx-trigger="click" hx-target="#section_edit_div" role="button">
    <i class="ps-2 bi bi-dash-circle"></i>
  </a>    
</div>
<div id="section_results_div" hx-swap-oob="#section_results_div">
  {{data['text']|safe}}
</div>
{% if toc %}
  <div id="menu_div" hx-swap-oob="#menu_div">
    {% with data=toc %}
      {% include "home/partials/menu.html" %}
    {% endwith %}
  </div>
{% endif %}




