<div id="section_edit_div">
  <script type="text/javascript">
    $(document).on('change keyup paste',"#textEdit", function() {
     $.ajax({
        type: 'POST',
        url: '/sections/{{key}}',
        data: {
          text: document.getElementById("textEdit").value
        },
        success: function(data){
         htmx.ajax('GET', '/sections/{{key}}/document', '#section_results_div')
        }
      });
    });
  </script>
  <textarea class="form-control" rows="30" name="textEdit" id="textEdit" class="textEditDiv">{{data['text']}}</textarea>
</div>
<h5 id="section_title_div" hx-swap-oob="#section_title_div">
  {{data['sectionNumber']}} {{data['sectionTitle']}}
</h5>
