<div id="section_edit_div">
  <script type="text/javascript">
    $(document).on('change keyup paste',"#textEdit", function() {
     $.ajax({
        type: 'POST',
        url: '/sections/{{key}}',
        data: {
          text: document.getElementById("textEdit").value
        },
        success: function(data){
         htmx.ajax('GET', '/sections/{{key}}/document', '#section_results_div')
        }
      });
    });
  </script>
  <textarea class="form-control" rows="30" name="textEdit" id="textEdit" class="textEditDiv">{{data['text']}}</textarea>
</div>
<h5 id="section_title_div" hx-swap-oob="#section_title_div">
  {{data['sectionNumber']}} {{data['sectionTitle']}}
</h5>
{% if can_add %}
  <div id="add_section_div" hx-swap-oob="#add_section_div">
    <a class="link-dark" style="font-size: 20px;" hx-post="/sections/{{key}}/add" hx-trigger="click" hx-target="#section_edit_div" role="button">
      <i class="ps-2 bi bi-plus-circle"></i>
    </a>    
  </div>
  <div id="delete_section_div" hx-swap-oob="#delete_section_div">
    <a class="link-danger" style="font-size: 20px;" hx-delete="/sections/{{key}}" hx-trigger="click" hx-target="#section_edit_div" role="button">
      <i class="ps-2 bi bi-dash-circle"></i>
    </a>    
  </div>
{% else %}
  <div id="add_section_div" hx-swap-oob="#add_section_div">
  </div>
  <div id="delete_section_div" hx-swap-oob="#delete_section_div">
  </div>
{% endif %}
<div id="section_results_div" hx-swap-oob="#section_results_div">
  {{data['text']|safe}}
</div>


